<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form method="POST" action="/vaccine/register">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" placeholder="Your First Name" required autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" placeholder="Your Last Name" required autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email" placeholder="Your Email" required  autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="address" placeholder="Your Address" required autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="mobile" placeholder="Your Mobile Number" required autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="password" name="password" placeholder="Your Password" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Your Password" required>
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
</body>
</html>
<script language='javascript' type='text/javascript'>
    var password = document.getElementById("password")
    var confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value){
    confirm_password.setCustomValidity("Passwords Don't Match");
  }
   else if(password.value.trim().length<=0) {
     confirm_password.setCustomValidity("Invalid Password");
   } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>